* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  font-size: 60%;
}
nav { 
  height: 80px; 
  background-color: black; 
}
header { 
  height: 805px; 
  background: linear-gradient(#37f050 -60%,#0213fd 140%); 
}

footer { 
  height: 100px; 
  background-color: black; 
}

.container {
  height: inherit; 
  width: 1170px;  
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
}

.hero-img {
  height: inherit;
  margin: 0 auto;
  background-image: url(../img/hero.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: .9;
}

table, th, td {
  border: 2px solid rgb(19, 241, 19);
  text-align: justify;
  margin-left: 30px;
}
table {
  width: 50%;
}
th {
  height: 70px;
  color:#fa9521;
}

#title {
  width: inherit;
  color: rgb(186, 22, 153);
  text-align: center;
  font-size: 80px;
  font-weight: 900;
  letter-spacing: -.04em;
  line-height: 1.15;
  margin-bottom: 20px;
  margin-left: -200px;
  margin-top: 10px;
}

.tables{
text-align: justify;
color: rgb(255, 255, 255);
font-size: 35px;
margin-top: -150px;
margin-left: 30px;
}
.emojis{
  text-align: center;
  margin-top: -630px;
  margin-left: 850px;
  color: rgb(255, 255, 255);
  font-size: 37px;
}

.happy{
  height: 70px;
}
.angry{
  height: 70px;
}
.sad{
  height: 70px;
}
.inlove{
  height: 70px;
}
.normal{
  height: 70px;
}


#navbar {
  width: inherit;
  color: #fa9521;
  text-align: right;
  font-size: 80px;
  font-weight: 900;
  letter-spacing: -.04em;
  line-height: 1.15;
  margin-bottom: 20px;
  margin-right: -200px;
}

.submitButton{
  width: 260px;
  margin: 0 auto;
  color: white;
  background-color: #fa9521;
  padding: 18px 42px 18px;
  border: 0px;
  border-radius: 500px;
  margin-top: 550px;
  margin-right: -210px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 2px;
  transition-duration: .3s;
}
.skipButton{
  width: 260px;
  margin: 0 auto;
  color: white;
  background-color: #fa9521;
  border: 0px;
  border-radius: 500px;
  padding: 18px 42px 18px;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 2px;
  transition-duration: .3s;

}
.submitButton:hover, .skipButton:hover {
  cursor: pointer;
  background-color: #d71eb8;
}
.calendar-container {
  align-items: center;
  background-color: #12121f;
  color: #12121f;
  display: flex;
  height: 700px;
  justify-content: left;
  width: 100%;
  padding-left: 100px;
}

.calendar {
  background-color: #ededf5;
  height: 640px;
  width: 550px;
}

.monthAndYear {
  align-items: center;
  background-color: #e00b0b;
  display: flex;
  height: 120px;
  justify-content: space-between;
  padding: 0 20px;
  text-align: center;
  width: 100%;
}

.monthAndYear i {
  cursor: pointer;
  font-size: 25px;
}

.monthAndYear h1 {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.weekdays {
  align-items: center;
  background-color: #df6262;
  display: flex;
  height: 50px;
  padding: 0 4px;
  width: 100%;
}

.weekdays div {
  align-items: center;
  display: flex;
  font-size: 15px;
  font-weight: 400;
  justify-content: center;
  letter-spacing: 1px;
  width: calc(542px / 7);
}

.days {
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
  width: 100%;
}

.days button {
  align-items: center;
  display: flex;
  font-size: 14px;
  height: 70px;
  justify-content: center;
  margin: 3px;
  width: calc(502px / 7);
}

.days button:hover:not(.todayButton) {
  background-color: #d5d5dd;
  border: 2px solid #2b2b2e;
  cursor: pointer;
}

.todayButton {
  background-color: #e00b0b;
}

.todayButton:hover {
  background-color: #d34949;
  border: 2px solid #18181a;
  cursor: pointer;
}

.prevDateButton,
.nextDateButton {
  opacity: 0.5;
}
