.navbar-brand {
  font-weight: 800 !important;
  font-size: 30px !important;
}

#wrapper {
  height: fit-content;
}
.bg-color {

}
.main-content {

}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* rainbow background */
.login-clean, #dashboard, .main-page-content {
  background-image: linear-gradient(to right top, #f37748, #eb8732, #dd971a, #caa700, #b1b600, #88be35, #5bc35b, #00c580, #00bcb6, #00aceb, #0094ff, #4c6ef5);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-content {
  width: 100vw;
  z-index: 1000;
}
.main-page-content {
  opacity: 40%;
}

/* Font Styling */
h1 {
  font-weight: 900; !important;
  font-size: 100px; !important;
}

h2 {
  font-size: 37px;
  font-weight: 800;
  text-align: center;
}
h1, h2, h3, .navbar-brand {
  color: rgb(255,81,0) !important;
  font-family: 'Nunito', sans-serif;
}

/* Change this element to an H2 in HTML*/
.second-header {
  font-size: 37px;
  text-align: center;
  font-weight: 800;
}

.subheader {
  font-size: 22px;
  text-align: center;
  padding: 0px;
  padding-bottom: 11px;
  margin-bottom: 5px;
  margin-top: 35px;
  font-family: 'Nunito', sans-serif;
}
/* End Font Styling */

/* Buttons */
/* Fix these two conflicting button items*/
button {
  background-color: rgb(12, 16, 253) !important;
}
button {
  background: rgb(8, 2, 253);
}

/* End Buttons */
.bottom-left {
  position: absolute;
  bottom: 33%;
  left: 5%;
}

.emoji-list {
  list-style-type: none;
  display: inline;
}

.emoji-list li {
  display: inline;
}
.emoji {
  font-size: 70px;
  padding: 7px;
}
div {
  vertical-align: middle;
    height: 100%;
}


/* Login/Registration Forms */
.login-clean {
  padding: 80px 0;
  height: 100vh;
}


.login-clean form {
  max-width: 320px;
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 4px;
  border-radius: 15px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.login-clean form .form-control {
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 8px;
  height: 42px;
}

.login-clean form .btn-primary:active {
  transform: translateY(1px);
}

.login-clean form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

.login-clean form .forgot:hover, .login-clean form .forgot:active {
  opacity: 1;
  text-decoration: none;
}
/* End Login/Registration Forms */

/* -------------------- calendar ----------------------- */

.dash-calendar {
  background-color: indigo;
    align-content: center;
}

/*.calendar-container {
  align-items: center;
  color: #12121f;
  display: flex;
  height: 700px;
  justify-content: left;
  width: 100%;
  padding-left: 100px;
  background: linear-gradient(#37f050 -60%, #0213fd 140%);
}*/

.calendar {
  background-color: #ededf5;
  height: 640px;
  width: 550px;
}

.monthAndYear {
  align-items: center;
  background-color: #e00b0b;
  display: flex;
  height: 120px;
  justify-content: space-between;
  padding: 0 20px;
  text-align: center;
  width: 100%;
}

.monthAndYear i {
  cursor: pointer;
  font-size: 25px;
}

.monthAndYear h1 {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.weekdays {
  align-items: center;
  background-color: #df6262;
  display: flex;
  height: 50px;
  padding: 0 4px;
  width: 100%;
}

.weekdays div {
  align-items: center;
  display: flex;
  font-size: 15px;
  font-weight: 400;
  justify-content: center;
  letter-spacing: 1px;
  width: calc(542px / 7);
}

.days {
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
  width: 100%;
}

.days button {
  align-items: center;
  display: flex;
  font-size: 14px;
  height: 70px;
  justify-content: center;
  margin: 3px;
  width: calc(502px / 7);
}

.days button:hover:not(.todayButton) {
  background-color: #d5d5dd;
  border: 2px solid #2b2b2e;
  cursor: pointer;
}

.todayButton {
  background-color: #e00b0b;
}

.todayButton:hover {
  background-color: #d34949;
  border: 2px solid #18181a;
  cursor: pointer;
}

.prevDateButton,
.nextDateButton {
  opacity: 0.5;
}
/* End Calendar */

/* Temporary formatting */
nav {
  background-color: black;
}

.content-container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.recently-played {
  text-align: center;

  border-right-color: #6f7a85;
  border-right-width: 1px;
  border-right-style: solid;
}

.recent-mood {
  text-align: center;
}

.date-heading {
  padding-top: 30px;
  padding-bottom: 30px;
}

.line-item {
    align-content: flex-start;
}
/* End Temporary formatting */

.set-mood-today, .previous-mood-calendar {
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 15px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}
