<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Spotify Recommendation">
    <meta property="og:description" content="Spotify Recommendation">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='favicon.ico' type='image/x-icon' />
    <title> Spotify Recommendation </title>
</head>
 
 
 <body>
	<h1>ANALYTICS PAGE</h1>
	<h3> Analytics </h3>
	{% extends "layout.html" %}
        {% block body %}
	<div class="analytics-login-container">
		<p>Your Most Recently Played Song Is: </p>
        {% if error %}
            <p class=error><strong>Error:</strong> {{ error }}
        {% endif %}
	<form action = "{{ url_for('analyze') }}" method="POST">
		<label for="lastmood"><b>How did your feel during your most recently played song? </b></label>
		<select type="text" name="lastmood" id="lastmood">
		    <option value="happy">Happy</option>
		    <option value="Sad">Sad</option>
		    <option value="Mad">Mad</option>
		</select>
		<br><br>
		<button type="submit">Submit</button>	
	</form>
	</div>
	
	<ul>	
		<li>Danceability Level Average (Monthly): </li>
		<li>Liveliness Level Average (Monthly): </li>
		<li>Genre Most Listened To: </li>
		<li>Recommended Next Songs: </li>
	</ul>
	
				
	   <h2> <a href="/"> Logout </a> </h2>
	   
	
     {% endblock %}
 </body>
  
</html>
