<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Spotify Recommendation" />
    <meta property="og:description" content="Spotify Recommendation" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
      <!-- TITLE Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
      <!-- Favicon for the browser tab -->
      <link rel="icon" href="favicon.ico" type="image/x-icon" />

      <!-- Custom styling for this page -->
      <!--<link lang="sass" rel="stylesheet" href="./static/styles/main.css" />-->
      <link rel="stylesheet" href="../static/styles/index.css">

      <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

      <!-- Calendar links -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/darkly/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>

    <title>Feel the Beat! | Dashboard | Track your music according to your mood and open up a world of statistics about your listening habits.</title>
  </head>
  <!-- End Header -->
  <body id="dashboard">
  <!-- Navigation bar -->
  <nav class="navbar sticky-top navbar-dark navbar-expand-md container-fluid">
      <div class="container-fluid"><a class="navbar-brand" href="/">Feel the Beat!</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>

          <div class="collapse navbar-collapse" id="navcol-1">
              <ul class="navbar-nav">
                  <li class="nav-item"><a class="nav-link active">Dashboard</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Second Item</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Third Item</a></li>
              </ul>
              <ul class="navbar-nav">
                  <li><button type="button" class="btn btn-primary logout-menu-button">Log Out</button></li>
              </ul>
          </div>

      </div>
  </nav>
  <div class="container container-fluid">
      <!-- Date row -->
      <div class="row">
          <div class="col-md-12 date-heading">
              <h1>Today is Mon, August 16 2021</h1>
          </div>
      </div>
      <!-- End date row -->
      <!-- Recently Played Tracks row -->
      <div class="row set-mood-today">
          <div class="col-md-6 recently-played">

              <h3>Recently Played Tracks</h3>
              <p>First, choose a song</p>
              <div class="column radio-choices">
                  <label class="line-item">
                      <input type="radio" checked="checked" name="radio">
                      <span class="checkmark">First Choice</span>
                  </label><br>
                  <label class="line-item">
                      <input type="radio" name="radio">
                      <span class="checkmark">Second Choice</span>
                  </label><br>
                  <label class="line-item">
                      <input type="radio" name="radio">
                      <span class="checkmark">Third Choice</span>
                  </label><br>
                  <label class="line-item">
                      <input type="radio" name="radio">
                      <span class="checkmark">Fourth Choice</span>
                  </label><br>
              </div>
          </div>
          <!-- End recently played tracks -->
          <div class="col-md-6 recent-mood">
              <p>Second, select a Mood for this track.</p>
              <ul class="emoji-list">
                  <li><i class="far fa-grin-hearts emoji love"></i></li>
                  <li><i class="far fa-laugh-beam emoji happy"></i></li>
                  <li><i class="far fa-meh emoji normal"></i></li>
                  <li><i class="far fa-frown emoji sad"></i></li>
                  <li><i class="far fa-angry emoji angry"></i></li>
              </ul>
          </div>
      </div>

      <div class="row recent-tracks previous-mood-calendar">
          <div class="col recent-tracks" style="text-align: center;">
              <h1>Past Moods</h1>
          </div>

          <div class="row">
              <div class="col-md-6 dash-calendar" style="text-align: center;">
                  <!-- NEW CALENDAR -->
                  <h3>Calendar</h3>
                  <p>Select a date to see what your mood was on that day.</p>
	            <div class="date-picker">
		            <div class="selected-date"></div>
		            <div class="dates">
			            <div class="month">
				            <div class="arrows prev-mth">&lt;</div>
				            <div class="mth"></div>
				            <div class="arrows next-mth">&gt;</div><br>
                            <div class="days"></div>
			            </div>

		            </div>
	            </div>
                  <!-- END NEW CALENDAR -->


                  <!-- OLD CALENDAR -->
                 <!--<div id="calendar"></div>

                  <div class="calendar-container">
                      <div class="calendar">
                          <div class="monthAndYear">
                              <i class="fas fa-angle-left backwardArrow"></i>
                              <div class="date">
                                  <h1></h1>
                              </div>
                              <i class="fas fa-angle-right forwardArrow"></i>
                          </div>
                          <div class="weekdays">
                              <div>Sun</div>
                              <div>Mon</div>
                              <div>Tue</div>
                              <div>Wed</div>
                              <div>Thu</div>
                              <div>Fri</div>
                              <div>Sat</div>
                          </div>
                          <div class="days"></div>
                      </div>
                  </div>-->
                  <!-- END OLD CALENDAR -->
              </div>
              <div class="col-md-6 dash-mood" style="text-align: center;">
                  <h3 id="e">Mood</h3>
                  <p>On this day, your mood was:</p>
                  <!--all the images became bottons-->
                  <i class="far fa-grin-hearts emoji love"></i>
              </div>
          </div>
      </div>
  </div>
  <script src="../static/js/dashboard2.js"></script>
  </body>
</html>
