<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Feel the Beat!</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="assets/css/index.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

</head>

<body>
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 mb-4"><img src="assets/img/feelthebeatanimals.svg"></div>
                        <div class="col align-self-center" style="margin-top: 100px;margin-bottom: 100px;">
                            <div class="row">
                                <div class="col" style="text-align: center;margin-top: 60px;">
                                    <h1>Feel the Beat!</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" style="text-align: justify;margin-right: 75px;margin-left: 75px;">
                                    <p class="text-center" style="padding-right: 50px;padding-left: 50px;text-align: justify;">Track your music according to your mood and open up a world of statistics about your listening habits.<br></p>
                                </div>
                            </div>
                            <div class="row text-start">
                                <div class="col" style="text-align: center;">
                                    <a href="/login" class="btn btn-primary text-center" type="button" style="font-size: 25px;margin: 10px;">Login</a>
                                    <a href="/register" class="btn btn-primary" type="button" style="font-size: 25px;margin: 10px;">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>

</html>
