<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Spotify Recommendation">
    <meta property="og:description" content="Spotify Recommendation">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='favicon.ico' type='image/x-icon' />
    <title> Spotify Recommendation </title>
</head>
 
 
 <body>
	<h1>Feel The Beat!</h1>
	<ul>			
	   <li> <a href="login"> Login Page </a> </li>
	   <li> <a href="/register"> Registration Page </a> </li>
	   <li> <a href="/"> Home</a> </li>
	</ul>
 	
	<div id="marker"> </div>
 <script>
	var field = 'code';
	var url = window.location.href;
	if(url.indexOf('?' + field + '=') != -1) {
		var code = url.substring(url.indexOf('?' + field + '=') + 1 + field.length + 1, url.length);
		console.log("CODE: ");
		console.log(code);
	
                	
	var marker = document.getElementById("marker");
	var a = document.createElement('a');
	var link = document.createTextNode('Click here to get access token/refresh token from access code');
	a.append(link);
	a.title = "Click here to get access token/refresh token from access code";
	a.href = "http://localhost:5000/getjs/" + code;
	
	
	marker.appendChild(a);
	}
 </script>
 </body>
   
</html>
