<!doctype html>
<html>
   <body>
   
      <h2>Response Header</h2> <br>
	  {{ headers }} <br>
	  <h2> Response Body </h2><br>
	  <ul>
	  <li> <h4>Access Token: </h4></li> 
	  <li> {{ access_token }} </li>
	  <li> <h4>Token Type: </h4></li> 
	  <li> {{ token_type }} </li>
	  <li> <h4>Expires In: </h4></li> 
	  <li> {{ expires_in }} </li>
	  <li> <h4>Refresh Token: </h4></li> 
	  <li> {{ refresh_token }} </li>
	  <li> <h4>Scope: </h4></li> 
	  <li> {{ scope }} </li>
      </ul>
	  <h2><a href = "\">Home Page</a></h2>
      
   </body>
</html>
