<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Spotify Recommendation">
    <meta property="og:description" content="Spotify Recommendation">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='favicon.ico' type='image/x-icon' />
    <title> Spotify Recommendation </title>
</head>
 
 
 <body>
	<h1>LOGIN PAGE</h1>
	<div class="auth-container">
		<h3>We need to access your Spotify user data.<h3>

		<a href="https://accounts.spotify.com/authorize?client_id=8e7400259de842c6b5b385d132793f92&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A5000%2F&scope=user-read-private%20user-read-email">Login To Spotify</a>	
	</div>
	
	<ul>			
	   <li> <a href="login"> Login Page </a> </li>
	   <li> <a href="/register"> Registration Page </a> </li>
	   <li> <a href="/"> Home Page </a> </li>
	   <li><a href="/analytics"> Analytics Page </a> </li>
	</ul>
 
 </body>
  
</html>
